

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h1>닮은 연예인 추천</h1>
    </div>
    <div class="col-sm">
      <form action="/randomresult">
        <input type="text"name="name"/>
        <button type="button" class="btn btn-primary">확인</button>
      </form>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
